.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17.2rem;
    column-gap: 6.4rem;
    background: #2175D6;

    @include media('sp') {
        flex-direction: column;
        row-gap: 2.4rem;
        height: 19.1rem;
    }

    .logo {
        width: 27rem;
        @include media('sp') {
            width: 17.7rem;
        }
    }
    .footer-content {
        .company {
            display: block;
            color: #FFF;
            &:hover {
                opacity: 0.7;
            }
            @include media('sp') {
                font-size: 1.4rem;
                text-align: center;
            }
        }
        .copyright {
            margin-top: 2.4rem;
            color: #FFF;
            @include media('sp') {
                font-size: 1.2rem;
                margin-top: 2.0rem;
                text-align: center;
            }
        }
    }
}