.contact-header {
    width: 100%;
    top: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 11.4rem;
    background: #F9F9F9;
    padding-left: 8.0rem;
    padding-right: 8.0rem;
    z-index:  999;
    &.contact-header {
        background-color: #FFF;
    }
    @include media("sp") {
        padding: 0;
        width: 100%;
        height: 5.6rem;
    }
    .header-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include media("sp") {
            width: 100%;
            height: 100%;
        }
        .header-logo {
            img {
                width: 24rem;
                @include media("sp") {
                    padding: 1.4rem 1.6rem;
                    width: 10.1rem;
                    height: 100%;
                }
            }
        }

        .right-wrapper {
            display: flex;
            align-items: center;
            column-gap: 1.6rem;
            @include media("sp") {
                column-gap: 0;
                width: fit-content;
                height: 100%;
            }
            .btn-yellow, .btn-black {
                @include media("sp") {
                    border-radius: 0;
                    border: unset;
                    padding: 1.3rem 1.8rem;
                    width: 8.0rem;
                    height: 100%;
                    font-size: 1.1rem;
                    line-height: 1.4rem;
                }
            }
            .btn-login {
                display: flex;
                column-gap: 0.8rem;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                @include media("sp") {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    width: 6.4rem;
                    height: 100%;
                    flex-direction: column;
                    row-gap: 0.3rem;
                    font-size: 1.1rem;
                }
                &:hover {
                    opacity: 0.7;
                }
                img {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }
    }

    .btn-yellow.btn {
        border: 3px solid #333;
    }

    .btn-black.btn {
        height: 5.0rem;
        white-space: nowrap;
    }
}

.common-header {
    top: 0;
    position: fixed;
    z-index: 999;
    padding: 0 4.8rem;
    width: 100%;
    height: 15.8rem;
    background: #2175D6;

    @include media("sp") {
        height: 11.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2.0rem;
    }

    .header-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media('sp') {
            height: fit-content;
        }
    }
    .logo-desc {
        display: flex;
        align-items: center;
        column-gap: 4.0rem;
        .header-logo {
            img {
                width: 25.3rem;
                @include media('sp') {
                    width: 13.1rem;
                }
            }
        }
    }

    .btn-blue.btn {
        width: 11.6rem;
        height: 3.8rem;
        font-size: 1.1rem;
    }
    
    .description {
        color: #FFF;
        @include media('sp') {
            font-size: 1.3rem;
        }
    }
}