.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20.8rem;
    height: 5.0rem;
    border: 3px solid #333;
    border-radius: 90px;
    height: 4.6rem;
    padding: 1.6rem 3.2rem 1.6rem 2.4rem;
    background: #2175D6;
    color: #333;
    letter-spacing: 0.08em;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    transition: all 0.2s ease-in;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
}

.btn span {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding-top: 0.2rem;
    z-index: 3;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #333;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    z-index: 1;
}

.btn:hover {
    color: #FFFFFF;
}

.btn:hover::before {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btn-yellow.btn {
    height: 5.0rem;
    background: #2175D6;
    border: 3px solid #333;
    color: #333;
}

.btn-yellow.btn:hover span {
    color: #FFF;
    z-index: 15;
}

.btn-yellow-b.btn {
    background: #2175D6;
    border: 4px solid #333;
    padding: 0 8.6rem;
    width: fit-content;
    height: 9.0rem;
    color: #333;

    @include media("sp") {
        width: 100%;
        height: 5.6rem;
    }
}

.btn-yellow-b.btn:hover span {
    color: #FFF;
    z-index: 15;
}

.btn-black.btn {
    background: #333;
    height: 6.4rem;
    padding: 1.6rem 6.4rem;
    color: #FFF;
}

.btn-black.btn:hover span {
    z-index: 15;
}

.btn-black.btn::before {
    background: #2175D6;
}

.btn-black.btn::after {
    border: 3px solid #333;
}

.btn-white.btn {
    background: #fff;
    height: 6.4rem;
    padding: 1.6rem 6.4rem;
    color: #333;
}

.btn-white.btn:hover span {
    color: #FFF;
    z-index: 15;
}

.btn-white.btn::before {
    background: #2175D6;
}

.btn-white.btn::after {
    border: 3px solid #333;
}

.btn-blue.btn {
    background: #2175D6;
    height: 4.6rem;
    padding: 1.5rem 4.8rem;
    color: #FFF;
    border: 2px solid #FFF;
}

.btn-blue.btn:hover {
    background: #FFF;
    border: 2px solid #FFF;
}

.btn-blue.btn:hover span {
    color: #2175D6;
    z-index: 15;
}

.btn-blue.btn::before {
    display: none;
}

.btn-blue.btn::after {
    border: 2px solid #FFF;
}

.btn-yellow.btn {
    background: #FDD933;
    height: 4.6rem;
    padding: 1.5rem 4.8rem;
    color: #FFF;
    border: unset;
    border-radius: 16px;
    width: 32rem;
    height: 9.8rem;
    color: #2175D6;
    font-family: "Noto Sans JP";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100% */
    letter-spacing: 0.64px;
    text-decoration: none;
}

.btn-yellow.btn:hover {
    text-decoration: none;
    border: unset;
}

.btn-yellow.btn:hover span {
    color: #2175D6;
    z-index: 15;
}

.btn-yellow.btn::before {
    display: none;
    background: #FFF;
}

.btn-yellow.btn::after {
    display: none;
    border: unset;
}

.btn-faq.btn {
    padding: 1.6rem 4.0rem;
    width: fit-content;
    height: 5.0rem;
    white-space: nowrap;
    color: #FFF;
    background: #333;
    border: 3px solid #333;
    border-radius: 8px;

    @include media("sp") {
        height: 4.0rem;
        padding: 1.3rem 1.6rem;
    }
}

.btn-faq.btn.active {
    background: #FFF;
    color: #333;
}

.btn-faq.btn:hover span {
    color: #333;
    z-index: 15;
}

.btn-faq.btn::before {
    background: #FFF;
}